<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="strona.css"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<script type = "text/javascript"></script>
</head>
<body>
	<P>mój kontakt!</P>
	<a href="javascript:alert('chcesz przejść na omnie?');">omnie</a>
	<a href="/blog">blog</a>
	<a href="#">kontakt</a>

<p>=====================================</p>

	<form th:action="@{/success}" method="post">
		<p>Insert name</p>
		<input type="text" th:field="${c.first}" /> <br/>
		<p>Insert last</p>
		<input type="text" th:field="${c.last}" /> <br/>
		<p>Insert email</p>
		<input type="email" th:field="${c.email}" /> <br/>
		<input type="submit" value="send" />
	
	</form>




</body>

</html>